<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trends D3 Chart</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <style>
        .bar {
            fill: steelblue;
        }

        .bar:hover {
            fill: brown;
        }

        .axis {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
    </style>
</head>
<body>
    <script>
        // Fetch trending tweets data from the Flask endpoint
        fetch('/trends')
            .then(response => response.json())
            .then(data => {
                renderTrendsChart(data.trending_tweets);
            });

        function renderTrendsChart(trending_tweets) {
            const margin = { top: 20, right: 20, bottom: 30, left: 40 };
            const width = 960 - margin.left - margin.right;
            const height = 500 - margin.top - margin.bottom;

            const x = d3.scaleBand()
                .rangeRound([0, width])
                .padding(0.1);

            const y = d3.scaleLinear()
                .range([height, 0]);

            const xAxis = d3.axisBottom(x);
            const yAxis = d3.axisLeft(y).ticks(10);

            const svg = d3.select("body").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            x.domain(trending_tweets.map(d => d.name));
            y.domain([0, d3.max(trending_tweets, d => d.tweet_volume)]);

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis);

            svg.selectAll(".bar")
                .data(trending_tweets)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", d => x(d.name))
                .attr("width", x.bandwidth())
                .attr("y", d => y(d.tweet_volume))
                .attr("height", d => height - y(d.tweet_volume));
        }
    </script>
</body>
</html>
